<!-- Step 3 Add Header -->
<<<<<<< HEAD
<%- include('partials/header.ejs') %>
=======
<<<<<<< HEAD

=======
<%- include('partials/header.ejs') %>
>>>>>>> fad5c03 (Reconnected to GitHub)
>>>>>>> saved-work

<!-- Step 2 - If an adjective and noun are sent to this ejs file, 
    Change the h1 to show the adjective and noun.
    But when the user first goes on the website and there is no adjective and noun, 
    Show the default h1 below -->
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
>>>>>>> saved-work
  
    <% if (locals.adjective && locals.noun) { %>
      <h1>
        <%= adjective %>
        <%= noun %>
      </h1>
    <% } else { %>
      <h1>Welcome to the Band Generator 🤟</h1>
      <% } %>
<<<<<<< HEAD
=======
>>>>>>> fad5c03 (Reconnected to GitHub)
>>>>>>> saved-work

<form action="/submit" method="POST">
  <input type="submit" value="Generate Name">
</form>
<<<<<<< HEAD
<!-- Step 3 Add Footer -->
<%- include('partials/footer.ejs') %>
=======
<<<<<<< HEAD
<!-- Step 3 Add Footer -->
=======
<!-- Step 3 Add Footer -->
<%- include('partials/footer.ejs') %>
>>>>>>> fad5c03 (Reconnected to GitHub)
>>>>>>> saved-work
